<div class="flex justify-between">
  <div class="w-3/12 h-fit overflow-hidden">
    <div #servicesLabel class="flex items-center gap-2">
      <div class="w-3 h-3 -mt-0.5 dot"></div>
      <p class="text-lg subheader">Our Services</p>
    </div>
  </div>
  <div class="w-6/12">
    <p #servicesHeadline class="text-4xl leading-snug">Effortlessly Track Every Transaction with Precision and Clarity</p>
    <p #servicesSubheadline class="text-lg mt-6 subheader">Stay informed with a clear, organized view of your most recent transactions. From product details to payment status, this real-time log helps your monitor order activity, track progress, and quickly identify any issues - all in one easy-to-navigate interface.</p>
  </div>
  <div class="w-3/12 flex justify-end overflow-hidden">
    <div #servicesBtn>
      <app-btn btnLabel="Learn More" btnIcon="arrow_outward" btnStyle="secondaryBtn"></app-btn>
    </div>
  </div>
</div>

<div #servicesImgContainer class="mt-32 mockup-container p-20">
  <img #servicesImg class="mx-auto" src="../../../assets/images/mock-1.webp" />
</div>
