<div class="p-10 footer-container">
  <div class="flex justify-between gap-12">
    <div class="w-4/12">
      <p class="text-4xl font-bold logo">/nvento.</p>
      <p class="text-lg mt-4 subheader">/nvento helps you manage inventory smarter with real-time insights and seamless control.</p>
    </div>
    <div class="w-2/12">
      <p class="text-2xl font-medium">Product</p>
      <div class="flex flex-col gap-3 mt-6">
        <p class="text-lg subheader">Overview</p>
        <p class="text-lg subheader">Features</p>
        <p class="text-lg subheader">Solutions</p>
        <p class="text-lg subheader">Tutorials</p>
      </div>
    </div>
    <div class="w-2/12">
      <p class="text-2xl font-medium">Resources</p>
      <div class="flex flex-col gap-3 mt-6">
        <p class="text-lg subheader">Blog</p>
        <p class="text-lg subheader">Newsletter</p>
        <p class="text-lg subheader">Help Center</p>
        <p class="text-lg subheader">Tutorials</p>
      </div>
    </div>
    <div class="w-4/12">
      <p class="text-2xl font-medium">Stay up to date</p>
    </div>
  </div>

  <p class="text-[280px] text-center font-bold leading-none footer-logo-big">/nvento.</p>
</div>
