<div #heroContainer class="overflow-hidden hero-container">
  <p #homeHeadline class="text-7xl font-medium text-center leading-tight px-40 pt-20">Empower Your Inventory with Smart Dashboards</p>
  <p #homeSubheadline class="text-2xl text-center px-32 mt-10 subheader">This modern admin dashboard is designed to simplify inventory management. Get instant insights into sales, purchaes, returns, and custom behavior.</p>
  <div #ctas class="flex justify-center gap-2 mt-14">
    <app-btn btnLabel="Get a Free Trial" btnIcon="arrow_outward" btnStyle="accentBtn"></app-btn>
    <app-btn btnLabel="Learn More" btnIcon="arrow_outward" btnStyle="secondaryBtn"></app-btn>
  </div>

  <div class="px-20 mt-20 mock-1-container">
    <img #homeImg src="assets/images/mock-1.webp" class="mx-auto" />
  </div>
</div>
