<div class="xl:flex">
  <div class="xl:w-3/12 h-fit overflow-hidden">
    <div #aboutLabel class="flex justify-center xl:justify-start items-center gap-2">
      <div class="w-2 h-2 lg:w-3 lg:h-3 -mt-0.5 dot"></div>
      <p class="lg:text-lg subheader">About Us</p>
    </div>
  </div>
  <div class="xl:w-9/12 mt-5 xl:mt-0">
    <p #aboutHeadline class="text-center xl:text-start text-2xl lg:text-3xl xl:text-4xl leading-snug">
      Our dashboard delivers smart solutions that simplify inventory management, improve efficiency, and provide actionable insights tailored to your workflow.
    </p>

    <div class="flex justify-evenly lg:justify-center lg:gap-10 xl:justify-start xl:gap-20 mt-8 xl:mt-14">
      <p #aboutTracking1 class="lg:flex items-end gap-4 text-3xl lg:text-5xl leading-none lg:leading-snug text-center lg:text-left font-medium purple-text">15k+ <span class="text-base lg:text-lg lg:mb-2">Customers</span></p>
      <p #aboutTracking2 class="lg:flex items-end gap-4 text-3xl lg:text-5xl leading-none lg:leading-snug text-center lg:text-left font-medium purple-text">20+ <span class="text-base lg:text-lg lg:mb-2">Countries</span></p>
      <p #aboutTracking3 class="lg:flex items-end gap-4 text-3xl lg:text-5xl leading-none lg:leading-snug text-center lg:text-left font-medium purple-text">100+ <span class="text-base lg:text-lg lg:mb-2">Marketplaces</span></p>
    </div>
  </div>
</div>

<div class="xl:flex gap-10 mt-16 lg:mt-20 xl:mt-32">
  <div #aboutImg1Container class="xl:w-7/12 p-4 lg:p-8 xl:p-20 mock-2-container">
    <img #aboutImg1 [src]="'assets/images/mock-1_' + selectedListId + '.webp'" />
  </div>
  <div #aboutListAnim  class="xl:w-5/12 flex flex-col gap-5 lg:gap-10 justify-between lg:justify-start border-l mt-6 lg:mt-10 xl:mt-0">
    <div *ngFor="let list of aboutList" class="pl-4 lg:pl-10 -ml-[2px] lg:-ml-[1.5px] cursor-pointer" [ngClass]="list.id === selectedListId ? 'border-l-4  active-border' : ''" (click)="updateDisplay(list)">
      <p class="text-lg lg:text-2xl">{{list.title}}</p>
      <p class="lg:text-lg mt-2 subheader">{{list.description}}</p>
    </div>
  </div>
</div>

<div class="mt-16 lg:mt-20 xl:mt-32">
  <img #aboutImg2 class="mx-auto" src="assets/images/mock-1.webp" />
</div>

<div class="lg:flex justify-between items-center mt-16 lg:mt-20 xl:mt-32 overflow-hidden">
  <div class="lg:w-8/12 xl:w-6/12 overflow-hidden">
    <p #aboutHeadline2 class="text-2xl text-center lg:text-start lg:text-3xl xl:text-4xl leading-snug">Enjoy Smooth and Powerful Performance with Our Desktop Version.</p>
  </div>
  <div #aboutBtn class="mt-6 lg:mt-0 flex justify-center lg:block">
    <app-btn btnLabel="Learn More" btnIcon="arrow_outward" btnStyle="secondaryBtn"></app-btn>
  </div>
</div>
<div #aboutSubheadline  class="xl:flex justify-between gap-20 mt-6">
  <p class="text-center lg:text-start text-lg subheader">Unlock the full potential of your inventory management with our optimized desktop experience. Designed for speed and stability, the PC version provides a smooth, uninterrupted workflow - perfect for handling high-volume tasks and complex data management with ease.</p>
  <p class="text-center lg:text-start mt-6 xl:mt-0 text-lg subheader">From detailed reporting to real-time tracking and bulk actions, every feature is enhanced for desktop use. Whether you're managing a warehouse or overseeing multi-location operations, the intuitive interface and responsive design help you stay productive and in control.</p>
</div>

<div class="mt-16 lg:mt-20 xl:mt-32">
  <img #aboutImg3 class="mx-auto" src="assets/images/mock-1.webp" />
</div>
